@import 'tailwindcss';

@theme {
  --color-brand-primary: #9b8c4b;
  --color-brand-dark: #6b590c;
  --color-brand-inactive: #888b8d;
  --color-brand-cream: #f3f1ea;
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #2d2926;
  background-color: #f9fafb;
  margin: 0;
}
